@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.wrapper {
    max-width: 300px;
    min-width: 300px;
    height: auto;
    margin: auto;
}

table {
    box-shadow: 2px 2px 40px 0px rgba(0,0,0,.8);
    width: 280px;
    border-collapse: collapse;
    margin: auto;
    font-family: "Poppins", sans-serif;
    border-radius: 20px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

tr, td {
    text-align: center;
}

.profile_img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 2em;
    margin-bottom: 1em;
    filter: grayscale(50%);
}

.title {
    background-color: black;
    color: white;
    font-size: large;
    font-weight: 200;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.title_size {
    margin-left: 20px;
    margin-right: 20px;
}

.footer {
    background-color: black;
    color: white;
    font-size: large;
    font-weight: 200;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.footer_size {
    margin-left: 20px;
    margin-right: 20px;
}

.name {
    font-size: larger;
}

.aka {
    font-size: smaller;
    font-weight: 300;
    color: rgb(97, 97, 97);
}

.school {
    font-size: medium;
    font-weight: 500;
}

.social {
    height: 70px;
}

.footerlink {
    color: white;
    font-weight: 400;
    text-underline-offset: 4px;
    text-decoration-style: dashed;

}