body {
    margin: 0;
    background: #000000;
  }
  
  .wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
  }
  
  header {
    font-family: IBM Plex Sans, sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
  }
  
  .background {
    transform: translateZ(-10px) scale(2);
  }
  
  .foreground {
    transform: translateZ(-5px) scale(1.5);
  }
  
  .background,
  .foreground {
    position: absolute;
    height: 105%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .title {
    font-size: 5rem;
    text-shadow: 0 0 40px rgb(114, 0, 0);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    color: #edc418;
  }
  
  .first {
    font-family: Lato, sans-serif;
    font-size: 1,6rem;
    padding: 2rem;
    background-color: black;
    color: white;
    margin-top: 20px;
  }

  h2 {
    text-align: center;
  }

  h2.cookies {
    font-family: IBM Plex Sans, sans-serif;
    font-size: 5rem;
    text-shadow: 0 0 40px rgb(1, 115, 75);
    color: #18CCED;
  }

  p {
    max-width: 70rem;
    margin: auto;
    padding: 0.8rem;
  }

  footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }

  .footer_img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }